<?xml version="1.0"?>
<robot name="robotic_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find robotic_arm_description)/urdf/robotic_arm.urdf.xacro"/>

  <gazebo>
    <plugin
      filename="gz-sim-joint-state-publisher-system"
      name="gz::sim::systems::JointStatePublisher">
      <topic>/joint_states</topic>
      <joint_name>q1</joint_name>
      <joint_name>q2</joint_name>
      <joint_name>q3</joint_name>
      <joint_name>q4</joint_name>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin
      filename="gz-sim-joint-position-controller-system"
      name="gz::sim::systems::JointPositionController">
      <joint_name>q1</joint_name>
      <topic>/q1_cmd_pos</topic>
      <p_gain>12.0</p_gain>
      <i_gain>0.2</i_gain>
      <d_gain>1.0</d_gain>
      <i_max>5.0</i_max>
      <i_min>-5.0</i_min>
      <cmd_max>2000</cmd_max>
      <cmd_min>-2000</cmd_min>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin
      filename="gz-sim-joint-position-controller-system"
      name="gz::sim::systems::JointPositionController">
      <joint_name>q2</joint_name>
      <topic>/q2_cmd_pos</topic>
      <p_gain>120.0</p_gain>
      <i_gain>80.0</i_gain>
      <d_gain>20.0</d_gain>
      <i_max>200.0</i_max>
      <i_min>-200.0</i_min>
      <cmd_max>30000</cmd_max>
      <cmd_min>-30000</cmd_min>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin
      filename="gz-sim-joint-position-controller-system"
      name="gz::sim::systems::JointPositionController">
      <joint_name>q3</joint_name>
      <topic>/q3_cmd_pos</topic>
      <p_gain>300.0</p_gain>
      <i_gain>200.0</i_gain>
      <d_gain>4.0</d_gain>
      <i_max>5.0</i_max>
      <i_min>-5.0</i_min>
      <cmd_max>2000</cmd_max>
      <cmd_min>-2000</cmd_min>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin
      filename="gz-sim-joint-position-controller-system"
      name="gz::sim::systems::JointPositionController">
      <joint_name>q4</joint_name>
      <topic>/q4_cmd_pos</topic>
      <p_gain>15.0</p_gain>
      <i_gain>0.3</i_gain>
      <d_gain>1.5</d_gain>
      <i_max>5.0</i_max>
      <i_min>-5.0</i_min>
      <cmd_max>2000</cmd_max>
      <cmd_min>-2000</cmd_min>
    </plugin>
  </gazebo>

  <gazebo reference="link2">
    <gravity>false</gravity>
  </gazebo>

  <gazebo reference="link3">
    <gravity>false</gravity>
  </gazebo>

  <gazebo reference="end_effector">
    <gravity>false</gravity>
  </gazebo>

</robot>
